.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page{
  display: flex;
  padding: 16px;
  flex-direction: column;
  width: calc(100% - 148px);
}

.submit-button{
  position: sticky;
  bottom: 0px;
  left: 0px;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  button{
    width: 100%;
  }
}

.likert-scale{
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr auto;
  grid-column-gap: 4px;
  margin-bottom: 24px;
}

.align-center{
  align-items: center;
  justify-content: center;
  display: grid;
}

.short-padded {
  padding: 8px
}

.short-marginned {
  margin: 8px
}

.login-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers {
  padding: 16px 0px;
  cursor: pointer;
}

.block-chart {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 60px);

}

.block-chart .date-block {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(3, 1fr);
  .date {
    grid-column: 1/4;
    justify-self: center;
  }
}

.color-info{
  display: grid;
  grid-template-columns: repeat(10, 16px 1fr);
  grid-auto-flow: column;
  grid-column-gap: 8px;
}

.block {
  $lv0: #EAF2F8;
  $lv1: #AED6F1;
  $lv2: #7FB3D5;
  $lv3: #2980B9;
  $lv4: #2471A3;
  $lv5: #1F618D;
  $lv6: #1A5276;
  $lv7: #154360;
  $none: #616A6B;
  width: 16px;
  height: 16px;
  &.lv0{
    background-color: $lv0;
  }
  &.lv1{
    background-color: $lv1;
  }
  &.lv2{
    background-color: $lv2;
  }
  &.lv3{
    background-color: $lv3;
  }
  &.lv4{
    background-color: $lv5;
  }
  &.lv5{
    background-color: $lv5;
  }
  &.lv6{
    background-color: $lv6;
  }
  &.lv7{
    background-color: $lv7;
  }
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  background: white;
  border: black 1px solid;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ui.statistics {
  display: grid;
  margin: 1em -1.5em -1em;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 120px);
}