.App {
  display: flex;
  padding: 16px;
  flex-direction: column;
  height: 100vh;
}

.page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit-button{
  position: sticky;
  bottom: 0px;
  left: 0px;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  button{
    width: 100%;
  }
}

.likert-scale{
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr auto;
  grid-column-gap: 4px;
  margin-bottom: 16px;
}

.align-center{
  align-items: center;
  justify-content: center;
  display: grid;
}

.short-padded {
  padding: 8px
}

.login-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}